@model AuthServer.ViewModel.AuthViewModel

@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <title>Auth</title>
</head>
<body>
<div>
    <h1>Register</h1>
    <form action="/Auth/Register" method="post">
        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl">
        <input type="email" name="Email" placeholder="Email">
        <input type="text" name="FirstName" placeholder="FirstName">
        <input type="text" name="LastName" placeholder="LastName">
        <input type="text" name="UserName" placeholder="UserName">
        <input type="password" name="Password" placeholder="Password">
        <input type="submit" value="Register">
    </form>
    
    <h1>Login</h1>
    <form action="/Auth/Login" method="post">
        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl">
        <input type="email" name="Email" placeholder="Email">
        <input type="password" name="Password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
</div>
</body>
</html>