# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AuthServer.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\stpnt\RiderProjects\AuthServer\.idea\.idea.AuthServer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
